header
{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,255,1);
    display: flex;
    position: sticky;
    top: 0;
}

.navHeader
{
    width: 100%;
    height: 100%;
}

.navHeader ul
{
    width: 100vw;
    min-height: 70px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 69px;
    background-color: rgba(0,0,255,1);
}

.navHeader li
{
    width: 100%;
    line-height: 70px;
    background-color: rgba(0,0,255,1);
}

.navHeader a
{
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

header .menu
{
    margin: auto 0;
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}

header .hamburger
{
    width: 90%;
    height: 6px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 45%;
    left: 5%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: transform 1s ease-in-out, top 1s 0.4s ease-in-out, opacity 1s 0.8s;
    -webkit-transition: transform 1s ease-in-out, top 1s 0.4s ease-in-out, opacity 1s 0.8s;
    -moz-transition: transform 1s ease-in-out, top 1s 0.4s ease-in-out, opacity 1s 0.8s;
    -ms-transition: transform 1s ease-in-out, top 1s 0.4s ease-in-out, opacity 1s 0.8s;
    -o-transition: transform 1s ease-in-out, top 1s 0.4s ease-in-out, opacity 1s 0.8s;
}

header .hamburger:first-of-type
{
    top: 20%;
}

header .hamburger:first-of-type.active
{
    top: 45%;
    transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
}

header .hamburger:nth-of-type(2).active
{
    opacity: 0;
}

header .hamburger:last-of-type
{
    top: 70%;
}

header .hamburger:last-of-type.active
{
    top: 45%;
    transform: rotate(495deg);
    -webkit-transform: rotate(495deg);
    -moz-transform: rotate(495deg);
    -ms-transform: rotate(495deg);
    -o-transform: rotate(495deg);
}

@media all and (min-width:768px) {

    .navHeader ul
    {
        width: 100%;
        top: 0;
        flex-direction: row;
        justify-content: end;
        padding-right: 15px;
        gap: 15px;
    }

    .navHeader li
    {
        width: auto;
    }
    
}